* {
    padding: 10px;
    margin: 10px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.side-bar {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
}

.weather-forcast {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
}

#currentWeather {
    display: none;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 30px;
    background-color: silver;
    opacity: 73%;
}

#weatherIcon {
    width: 100px;
    height: 100px;
}
#futureWeather {
    display: flex;
    flex-direction: column;
}

.current {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoCurrent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#regenerateButton {
    padding: 10px;
    margin: 10px;
    display: none;
}