* {
    padding: 10px;
    margin: 10px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.side-bar {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
}

.weather-forcast {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
}

#currentWeather {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#futureWeather {
    display: flex;
    flex-direction: column;
}

